{{!< default}}

<section id="content_wordsmith">
{{#post}}
	<article class="article_wordsmith" role="article" itemscope itemtype="http://schema.org/Article">

		<time class="date_wordsmith helv_wordsmith" datetime="{{date format='MMM DD, YYYY'}}" itemprop="datePublished">{{date format='MMM DD, YYYY'}}</time>{{#if tags}}<span class="helv_wordsmith"> on {{tags separator=", "}}</span>{{/if}}

		<h1 class="posttitle_wordsmith" itemprop="headline">{{title}}</h1>

		<div class="postcontent_wordsmith">
			{{content}}
		</div>

		{{#if author}}
	    <div id="author_wordsmith">
		    <address itemscope itemtype="http://schema.org/Person">
			    {{#if author.image}}
			    	<div class="authorimage_wordsmith"><img src="{{author.image}}" itemprop="image" /></div>
			    {{/if}}
			    	<div class="authordata_wordsmith">
			    		<span itemprop="author">{{author.name}}</span><br>
			    		{{#if author.website}}
			    		<a href="{{author.website}}" itemprop="url">{{author.website}}</a>
			    		<p>{{author.bio}}</p>
			    		{{/if}}
			    	</div>
		    </address>
	    </div>
	    {{/if}}

	</article>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'fullstacknotes';
      var disqus_identifier = '{{post.id}}';

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{/post}}
</section>

{{#if pagination}}
<div id="pagination_wordsmith" class="helv_wordsmith">
	{{{pagination}}}
</div>
{{/if}}